<div id="form-create-activity">
    <%= form_for @activity do |a| %>
        <h2> Nova atividade </h2>
        <%= a.text_field :name %>
        <%= a.text_field :date, 
            type: "date" %>
        <%= a.text_area :description, 
            style: "resize: vertical" %>

        <%= a.submit 'Criar Atividade' %>
    <% end %>
<div>

<div id="list-activities">
    <%= @activities.find_each do |activity| %>
        <div>
            <span> <%= activity.name %> </span>
            <span> <%= activity.date.strftime("%d/%m/%Y") %> </span>
            <span> <%= activity.description %> </span>

            <%= button_to 'Apagar', 
                activity, 
                method: :delete, 
                :onclick => "return confirm('Tem certeza que quer deletar esta atividade?')" %>
        </div>
    <% end %>
</div>

<script type="text/javascript">
    const alertMessage = '<%= @alert %>';
    if(alertMessage != "")
        alert(alertMessage);

    
</script>
